.login {
	width: 100%;
	height: 100vh;
	position: relative;

	&__block {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		margin-left: -250px;
		margin-top: -120px;
		background-color: #fff;
		border-radius: 20px;
		padding: 15px 20px;
		text-align: center;

		table {
			width: 100%;

			td {
				padding: 0;
			}

			td:first-child {
				width: 30%;
				text-align: left;
			}

			td:last-child {
				width: 50%;
				text-align: right;

				input {
					width: 100%;
				}
			}
		}

		h2 {
			margin-bottom: 20px;
		}

		button {
			width: 200px;
			margin-top: 10px;
		}
	}

	@media (max-width: 550px) {
		&__block {
			width: 90%;
			margin-left: 0;
			transform: translateX(-50%);
			margin-top: -120px;
		}
	}
}
