.customSelect {
	display: flex;
	align-items: center;

	p {
		margin-bottom: 0;
		margin-right: 10px;
		color: #141272;
	}

	select {
		height: 35px;
		background-color: transparent;
		border: 1px solid #6a56e4;
		border-radius: 10px;
		padding: 0 10px;
		padding-right: 28px;
		cursor: pointer;
		appearance: none;
		background: url("../../img/chevron.svg") no-repeat;
		background-position: calc(100% - 10px) 50%;
	}
}
