.loading {
	width: 100%;
	height: 100vh;
	display: flex;

	&__table {
		height: unset;
		position: absolute;
		top: 80px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	&__button {
		width: 10px;
		height: 10px;
		margin-left: 10px;
	}
}
