.sidebar {
	width: 250px;
	overflow-y: scroll;
	position: relative;
	z-index: 2;

	&::-webkit-scrollbar {
		width: 0;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 0;

		background-color: #fafafa;

		&__logo {
			display: flex;
			flex-direction: column;
			align-items: center;

			svg {
				&:nth-child(2) {
					width: 80px;
					height: 28px;
					margin-bottom: 5px;
				}

				&:last-child {
					width: 220px;
					height: 36px;
				}
			}
		}
	}

	&__body {
		padding: 20px;
		height: 100%;
		background-color: #6a56e4;

		ul {
			list-style: none;
			padding: 0;
		}

		&__link {
			font-size: 18px;
			font-weight: 500;
			padding: 20px;
			cursor: pointer;
			transition: all 0.2s ease;
			border-radius: 10px;
			color: #141272;

			span {
				color: inherit;
			}

			&:hover {
				color: #e2e2e2;
			}

			&__active {
				background-color: rgba(76, 57, 193, 0.65);
				color: #1bcfe7;
			}
		}
	}

	&__unactive {
		display: none;
	}

	@media (max-width: 1000px) {
		width: 250px;
		display: block !important;
		transition: all 0.2s ease;

		&__unactive {
			width: 0;

			transform: translateX(-400px);
		}
	}
}
