.customInput {
	margin-bottom: 10px;

	tr {
		td {
			padding: 0 20px;
			color: #141272;

			input {
				border-radius: 10px;
				padding: 0 15px;
				height: 35px;
				border: 1px solid #6a56e4;
			}

			&:first-child {
				width: 50%;
				padding-left: 0;
			}
		}
	}

	@media (max-width: 550px) {
		tr {
			td {
				padding: 0;

				&:first-child {
					width: 40%;
					padding-right: 10px;
				}

				&:last-child {
					width: 60%;

					input {
						width: 100%;
					}
				}
			}
		}
	}
}
