@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
	margin: 0;
	min-height: 100vh;
	background-color: #eee !important;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	line-height: 100%;
	font-family: "Poppins", sans-serif;
	color: #342647;
}
