.customButton {
	width: 155px;
	height: 35px;
	background-color: #6a56e4;
	border-radius: 10px;
	color: #141272;
	border: 0;
	transition: all 0.2s ease;

	&:hover {
		background-color: #5643ce;
		color: #1bcfe7;
	}

	&__cancel {
		background-color: transparent !important;
		border: 1px solid #141272;

		&:hover {
			color: #5643ce;
		}
	}

	&__delete {
		background-color: #f00 !important;
	}
}
